# Copy to .env and replace <db_password> with your password
MONGO_URI=mongodb+srv://yumnazowfir_db_user:<db_password>@cluster0.vuf7ell.mongodb.net/incredibles?retryWrites=true&w=majority
# USE THIS MONGO_URI TO RUN THE DB LOCALLY
MONGO_URI="mongodb://127.0.0.1:27017/incredibles"
PORT=4000
NODE_ENV=development
