@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bg:#fff;
  --text:#111827;
}
body{
  margin:0;
  font-family:Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  background:var(--bg);
  color:var(--text);
}
.app-root{min-height:100vh;display:flex;flex-direction:column}
